body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  color: red;
  font-weight: bold;
  margin: 5px;
}
